.chessBoardContainer{
    display: flex;
    flex-direction: column;
    place-content: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
    align-items: center;
    justify-content: center;
}