@import './assets/colors/colors.css';

.container {
  display: flex;
  justify-content:center
}
.container div {
  height: 100vh;
  width: 100%;
  /* flex-grow: 1; */
  align-items: center;
  justify-content: center;
  display: flex;

}

.firstCol {
  background-color: var(--beauBlue);
 
}

.secondCol{
  background: var(--lavendarWeb);

}

.thirdCol{
  background-color: var(--mangolia);
}

img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
